@import url('https://fonts.googleapis.com/css?family=Neucha|Roboto&display=swap');

html {
  height: 100%;
}

body {
  margin: 0px;
  font-family: 'Neucha', cursive;
  font-family: 'Roboto', sans-serif;
}

img {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

p {
  font-size: 15px;
  line-height: 25px;
}

h1 {
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 10px;
  color: #202424;
  font-size: 40px;
  font-weight: lighter;
}

h2 {
  line-height: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 10px;
  margin-right: 10px;  
  font-size: 12px;
  color: #5a5a5a;
  font-weight: lighter;
}

label {
  font-size: 11px;
  font-weight: bold;
}  

#dialog {
  font-size: 11px;
}

#wrapper {
  width: 100%;
  font-family: 'Roboto', sans-serif;  
}

#map {
  width: 100%;
  margin: 0 auto;
  height: 730px;
}

#controls {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  float: left;
}

#form {
  margin-top: 5px;
  font-size: 9px;
  text-align: left;
  line-height: 12px;
  width:400px;
  float: left;
}

#header {
  margin-top: 0px;
  margin-bottom: 0px;
}

#credits p {
  margin-top: 7px;
  font-size: 8px;
  text-align: center;
  line-height: 4px;
}
